<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Menu chính -->
    <menuitem id="menu_blogcreator_root" name="Blog Creator" web_icon="blogcreator,static/description/menu_icon.png" sequence="45" groups="blogcreator.group_blogcreator_reader,blogcreator.group_blogcreator_author,blogcreator.group_blogcreator_manager"/>

    <!-- Menu con - Blog Posts -->

    <menuitem id="menu_blogcreator_waiting_approval" name="Bài đang chờ duyệt" parent="menu_blogcreator_root" action="waiting_approval_blogpost" sequence="10" groups="blogcreator.group_blogcreator_manager"/>

    <menuitem id="menu_blogcreator_posts" name="Danh sách bài viết" parent="menu_blogcreator_root" action="action_blogpost" sequence="20" groups="blogcreator.group_blogcreator_reader,blogcreator.group_blogcreator_author,blogcreator.group_blogcreator_manager"/>
    <menuitem id="menu_blogcreator_exported_posts" name="Bài đã được duyệt" parent="menu_blogcreator_root" action="exported_blogpost" sequence="30" groups="blogcreator.group_blogcreator_reader,blogcreator.group_blogcreator_author,blogcreator.group_blogcreator_manager"/>
    <menuitem id="menu_blog_category" name="Quản lý thể loại" parent="menu_blogcreator_root" action="action_blog_category" sequence="40" groups="blogcreator.group_blogcreator_manager"/>
</odoo>